/* paramètrages commun site*/

@font-face {
    font-family: "darleston";
    src: url("../src/fonts/Darleston.otf") format("opentype");
}

@font-face {
    font-family: "calina";
    src: url("../src/fonts/Calina.ttf") format("truetype");
}

@font-face {
    font-family: "chopin";
    src: url("../src/fonts/ChopinScript.otf") format("opentype");
}

@font-face {
    font-family: "florilane";
    src: url("../src/fonts/Florilane_Cardillac.ttf") format("truetype");
}

@font-face {
    font-family: "madina";
    src: url("../src/fonts/Madina.ttf") format("truetype");
}

@font-face {
    font-family: "tangerine";
    src: url("../src/fonts/Tangerine_Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    --main-bg-cl : rgb(236, 236, 236);
    --main-fnt-cl : black;
    --head-fnt-cl : white;
    --main-box-cl : rgba(224, 41, 41, 0.607);
    --main-hd-cl : rgb(139, 25, 25);
}

body {
    font-family: "tangerine";
    font-size : 3.5vh;
    background-color: var(--main-bg-cl);
    color: var(--main-fnt-cl);
    background-image: url('../src/images/BGbAND.png');
    background-repeat: repeat-y;
    background-size: cover;
    padding-top: 3vh;
}

/*barre de navigation*/
nav {
    position : fixed;
    top: 0px;
    width : 100vw;
    height: 5vh;
    background-color: var(--main-fnt-cl);
    color: var(--main-bg-cl);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    z-index: 10;
}

nav>.navPart {
 display : flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

nav>.navPart>a {
    display : block;
    text-decoration: none;
    color : var(--main-bg-cl);
    width : 10vw;
    text-align: center;
}

nav>.navPart>a:hover {
    background-color: var(--main-bg-cl);
    color: var(--main-fnt-cl);
}

nav>.logPart {
    width : 5vh;
    text-align: center;
}

#logPic:hover {
    cursor:pointer;
}

#logPic {
    display: block;
    width : 5vh;
}



/*Mise en page du header*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    background-color: var(--main-hd-cl);
    color: var(--main-bg-cl);
    margin : auto;
    margin-top : 5vh;
    padding : 3vh;
    border : 3px solid var(--main-fnt-cl);
    box-shadow: rgb(63, 63, 63) 5px 5px 7px ;
    width : 95vw;
    text-align: center;
}


.logo #logoPic {
    width : 20vw;
}

.title {
    width : 40vw;
    
}

.user {
    width : 20vw;
}

/*Pop up de connexion*/

#popup {
    position:fixed;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 222, 179, 0.3);
    z-index: 15;
    display: none;
    justify-content: center;
    align-items: center;
}

#connectBox {
    background-color: wheat;
    color: var(--main-fnt-cl);
    border : 3px solid var(--main-fnt-cl);
    box-shadow: rgb(63, 63, 63) 5px 5px 7px ;
    padding : 1.5vw;
    width : 30vw;
    height: 50vh;
    text-align: center;
}
/*Corps de page d'accueil*/

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
}

.main>div {
    display : flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.leftPart{
    width: 70vw;
    padding-left : 7vw;
    padding-right: 7vw;
}

.rightPart {
    width : 27vw;
    padding-right: 1vw;
    padding-top: 10vh;
    
}

.rightPart>img {
    display: block;
    width : 80%;
    border : 3px solid var(--main-fnt-cl);
    box-shadow: rgb(63, 63, 63) 5px 5px 7px ;
   
}

.rightPart>div {
    width : 80%;
    background-color: var(--main-box-cl);
    color: var(--main-fnt-cl);
    border : 3px solid var(--main-fnt-cl);
    box-shadow: rgb(63, 63, 63) 5px 5px 7px ;
    padding : 1vw;
    margin-top: 2vh;
    text-align: justify;
}

/*Contenu rédactionnel*/

.textContent {
    background-color: var(--main-box-cl);
    color: var(--main-fnt-cl);
    border : 3px solid var(--main-fnt-cl);
    box-shadow: rgb(63, 63, 63) 5px 5px 7px ;
    padding : 3vw;
}

.textContent>h3 {
    text-align: center;
}

.textContent>p {
    text-align: justify;
    margin-top: 2vh;
}